################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/PrepareNewMod.exe
/settings.json
/PrepareNewMod.csproj.user